/* Estilos globales para el modo claro y oscuro */
:root {
  --background-color-dark: #121212;
  --background-color-light: #f0f0f0;
  --text-color-dark: #f5f5f5;
  --text-color-light: #333;
  --button-bg-dark: #333;
  --button-bg-light: #f1f1f1;
  --button-border-dark: #444;
  --button-border-light: #bbb;
  --footer-bg-dark: #242424;
  --footer-bg-light: #ffffff;
  --footer-text-dark: #b0b0b0;
  --footer-text-light: #333333;
}

/* Estilo común para todo el sitio */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color-dark); /* Texto en modo oscuro por defecto */
  background-color: var(--background-color-dark); /* Fondo oscuro por defecto */
  transition: background-color 0.3s, color 0.3s;
}

button {
  border-radius: 6px;
  border: 2px solid var(--button-border-dark);
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-bg-dark);
  color: var(--text-color-dark);
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

button:hover {
  border-color: #666;
  background-color: var(--button-border-dark);
}

footer {
  background-color: var(--footer-bg-dark);
  padding: 20px 0;
  text-align: center;
  color: var(--footer-text-dark);
}

footer h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer a {
  color: #ccc;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #aaa;
}

footer p {
  font-size: 0.9em;
  margin-top: 10px;
  color: #888;
}

/* Modo Claro (Light Mode) */
@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-light);
    background-color: var(--background-color-light);
  }

  button {
    background-color: var(--button-bg-light);
    border-color: var(--button-border-light);
    color: var(--text-color-light);
  }

  footer {
    background-color: var(--footer-bg-light);
    color: var(--footer-text-light);
  }
}
/* Estilo para el botón en la esquina superior derecha */
.theme-toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Modo Personalizado (Light/Dark) */
[data-theme='light'] {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

[data-theme='dark'] {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
